{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-xs-6  col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item" controls alt="Video 1">
                    <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
                </video>
            </div>
            <h3>Oldmen 1</h3>
            <p>In this section Joee have been gone to the bank for ask about the clusur notice</p>
            <div class="container">
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
            </div>
        </div>
        <div class="col-xs-6  col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item" controls alt="Video 1">
                    <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
                </video>
            </div>
            <h3>Oldmen 1</h3>
            <p>In this section Joee have been gone to the bank for ask about the clusur notice</p>
            <div class="container">
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
            </div>
        </div>
        <div class="col-xs-6  col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item" controls alt="Video 1">
                    <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
                </video>
            </div>
            <h3>Oldmen 1</h3>
            <p>In this section Joee have been gone to the bank for ask about the clusur notice</p>
            <div class="container">
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
            </div>
        </div>
        <div class="col-xs-6  col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item" controls alt="Video 1">
                    <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
                </video>
            </div>
            <h3>Oldmen 1</h3>
            <p>In this section Joee have been gone to the bank for ask about the clusur notice</p>
            <div class="container">
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
            </div>
        </div>
        <div class="col-xs-6  col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item" controls alt="Video 1">
                    <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
                </video>
            </div>
            <h3>Oldmen 1</h3>
            <p>In this section Joee have been gone to the bank for ask about the clusur notice</p>
            <div class="container">
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
                <audio class="embed-responsive-item" controls>
                    <source src="{% static 'audios/oldmen.part1.A.mp3' %}" type="audio/mp3"> 
                </audio>
            </div>
        </div>

    </div>
</div>

{% endblock %}